<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/png" href="./img/logo.png" />
    <title>Connexion | Monopoly</title>
</head>
<body>
    <%- include('partie/header'); -%>
    <form method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">email :</label>
          <input type="email" class="form-control" name="email" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password :</label>
          <input type="password" class="form-control" name="password">
          <p>Rester connecté ? <input type="checkbox" name="save_mdp"></p>
          <a href="/views/forget_mdp">Mot de passe oublié ?</a>
        </div>
        <button type="submit" class="btn btn-primary">Connexion</button>
      </form>
</body>
</html>