body {
    background: url(../img/background-body.jpg);
    color: whitesmoke;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    text-decoration:line-through;
}

header {
    background: url(../img/background-header.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1% 30%;
    width: 20%;
    height: 160px;
    color: rgb(250, 56, 56);
}

nav {
    display: flex;
    font-size: 25px;
    justify-content: space-evenly;
    margin-top: 10%;
}

nav a {
    text-decoration: none;
    background-color: greenyellow;
    border: 1px solid black;
    color: black;
    border-radius: 40px;
    padding: 2%;
    text-shadow: 1px 4px green;
}

nav a:hover {
    background-color: none;
    text-shadow: none;
    border: none;
}

form {
    width: 10%;
    margin: auto 25%;
}